ion-content {
    .ready-main-container {
        // border: 2px solid red;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        padding: 0;
        position: relative;

        .bottom-right-img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }

        .slider-main-container {
            position: absolute;
            // border: 2px solid black;
            border-radius: 40px;
            width: 80%;
            height: 90vh;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            swiper-container {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                padding: 0;

                swiper-slide {
                    // border: 2px solid seagreen;
                    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                    border-radius: 40px;
                    width: 100%;
                    height: 100%;

                    .slider-img {
                        // border: 2px solid yellow;
                        border-top-left-radius: 40px;
                        border-top-right-radius: 40px;
                        width: 100%;
                        height: 60%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-top-left-radius: 40px;
                            border-top-right-radius: 40px;
                        }
                    }

                    .slider-info-btn {
                        // border: 2px solid brown;
                        width: 100%;
                        height: 40%;
                        border-bottom-left-radius: 40px;
                        border-bottom-right-radius: 40px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 50px 0 0;

                        h1 {
                            font-size: 30px;
                            font-weight: 700;
                        }

                        p {
                            font-size: 17px;
                            max-width: 100%;
                            width: 90%;
                            text-align: center;
                        }

                        button {
                            border-radius: 10px;
                            max-width: 100%;
                            width: 80%;
                            background-color: #0004ff;
                            padding: 20px 60px;
                            font-size: 16px;
                            font-weight: 600;
                            color: white;
                            cursor: pointer;
                            transition: background-color 0.3s ease;
                        }

                    }
                }
            }
        }

    }
}


@media (min-width: 1081px) and (max-width:1400px) {
    // larger screen adjustments

    ion-content {
        .ready-main-container {
            .slider-main-container {
                width: 90%;

                swiper-container {
                    swiper-slide {

                        .slider-info-btn {

                            padding: 25px 0 0;

                            h1 {
                                font-size: 24px;
                                font-weight: 700;
                            }

                            p {
                                font-size: 16px;
                                max-width: 80%;
                                text-align: center;
                            }

                            button {
                                width: 80%;
                                font-size: 15px;
                                font-weight: 600;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 760px) and (max-width:1080px) {
    // tablet screen adjustments

    ion-content {
        .ready-main-container {
            .slider-main-container {
                width: 95%;

                swiper-container {
                    swiper-slide {

                        .slider-info-btn {

                            padding: 20px 0 0;

                            h1 {
                                font-size: 24px;
                                font-weight: 700;
                            }

                            p {
                                font-size: 16px;
                                max-width: 80%;
                                text-align: center;
                            }

                            button {
                                width: 80%;
                                font-size: 15px;
                                font-weight: 600;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width:759px) {
    // mobiles screen adjustments

    ion-content {
        .ready-main-container {
            .slider-main-container {
                width: 85%;
                height: 80vh;

                swiper-container {
                    swiper-slide {

                        .slider-info-btn {

                            padding: 15px 0 0;

                            h1 {
                                font-size: 22px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 14px;
                                max-width: 80%;
                                text-align: center;
                            }

                            button {
                                width: 80%;
                                font-size: 15px;
                                font-weight: 600;
                            }

                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 150px) and (max-width:575px) {
    // mobiles screen adjustments

    ion-content {
        .ready-main-container {
            .slider-main-container {
                width: 85%;
                height: 80vh;

                swiper-container {
                    swiper-slide {

                        .slider-info-btn {

                            padding: 15px 0 0;

                            h1 {
                                font-size: 22px;
                                font-weight: 600;
                            }

                            p {
                                font-size: 14px;
                                max-width: 80%;
                                text-align: center;
                            }

                            button {
                                width: 80%;
                                font-size: 15px;
                                font-weight: 600;
                            }

                        }
                    }
                }
            }
        }
    }
}