<ion-content [fullscreen]="true">
    <ion-list class="payment-method-main-container">
        <div class="payment-method-header">
            <h1>Settings</h1>
            <p>Payment Methods</p>
        </div>

        <div class="payment-card-box">

            <div class="master-card">
                <ion-grid class="credit-card">
                    <ion-row>
                        <ion-col size="9">
                            <div class="card-logo">
                                <img src="path-to-logo" alt="card-logo" />
                            </div>
                        </ion-col>
                        <ion-col size="3">
                            <div class="settings-icon">
                                <ion-icon name="settings-outline"></ion-icon>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="card-details">
                        <ion-col>
                            <p class="card-number">**** **** **** 1579</p>
                            <p class="cardholder-name">AMANDA MORGAN</p>
                            <p class="expiry-date">12/22</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>


            </div>

            <div class="plus-btn">
                <ion-icon name="add-outline"></ion-icon>
            </div>

        </div>
    </ion-list>

</ion-content>