<ion-content [fullscreen]="true">
  <ion-list class="product-main-container">
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="6" sizeXl="6" sizeMd="6" sizeSm="12" sizeXs="12">
          <!-- Step 1: Bind the product image -->
          <img [src]="img1" alt="Product Image">
        </ion-col>

        <ion-col sizeLg="6" sizeXl="6" sizeMd="6" sizeSm="12" sizeXs="12">
          <div class="header-heading">
            <div class="heading-timer">
              <!-- Step 2: Display the new price -->
              <h1>{{ newPrice | currency }}</h1>
              <div class="timer">
                <div class="timer-container">
                  <ion-chip>
                    <ion-icon name="timer-outline"></ion-icon>
                  </ion-chip>
                  <ion-chip>
                    <ion-label>{{ minutes.toString().padStart(2, '0') }}</ion-label>
                  </ion-chip>
                  <ion-chip>
                    <ion-label>{{ seconds.toString().padStart(2, '0') }}</ion-label>
                  </ion-chip>
                </div>
              </div>
            </div>
            <!-- Step 3: Display the discount -->
            <div class="para">{{discount}}% OFF</div>
            <!-- Step 4: Display the product description -->
            <p>{{text1}}</p>
          </div>

          <div class="color-option">
            <h2>Color options</h2>
            <div class="color-main-box">
              <swiper-container class="ion-margin-top ion-margin" pagination="false" [breakpoints]="{
                  '300': {
                    'slidesPerView': 4,
                    'spaceBetween': 30
                  },
                  '480': {
                    'slidesPerView': 4,
                    'spaceBetween': 30
                  },
                  '576': {
                    'slidesPerView': 5,
                    'spaceBetween': 10
                  },
                  '768': {
                    'slidesPerView': 5,
                    'spaceBetween': 10
                  },
                  '1080': {
                    'slidesPerView': 5,
                    'spaceBetween': 15
                  },
                  '1200': {
                    'slidesPerView': 6,
                    'spaceBetween': 15
                  },
                  '1400': {
                    'slidesPerView': 6,
                    'spaceBetween': 15
                  }
                }">
                <!-- <swiper-slide *ngFor="let color of colorOptions; let i = index" (click)="toggleSlideSelection(i)">
                  <div class="color-box" [style.backgroundColor]="color">
                    <ion-icon *ngIf="selectedSlides[i]" name="checkbox-outline" class="checkbox-icon"></ion-icon>
                  </div>
                </swiper-slide> -->
                <swiper-slide *ngFor="let color of colorOptions; let i = index" (click)="selectColor(i)">
                  <div class="color-box" [style.backgroundColor]="color">
                    <ion-icon *ngIf="selectedColorIndex === i" name="checkbox-outline" class="checkbox-icon"></ion-icon>
                  </div>
                </swiper-slide>
                
              </swiper-container>
            </div>
          </div>

          <div class="size-container">
            <p>Size</p>
            <ion-grid class="size-grid">
              <ion-row class="size-row">
                <!-- <ion-col class="size-col" sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" *ngFor="let size of sizeOptions">
                  <div class="size-box">{{ size }}</div>
                </ion-col> -->
                <ion-col class="size-col" sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" *ngFor="let size of sizeOptions; let i = index" (click)="selectSize(i)">
                  <div class="size-box" [ngClass]="{'selected-size': selectedSizeIndex === i}">
                    {{ size }}
                    <ion-icon *ngIf="selectedSizeIndex === i" name="checkbox-outline" class="checkbox-icon"></ion-icon>
                  </div>
                </ion-col>
                
              </ion-row>
            </ion-grid>
          </div>

          <ion-item lines="none">
            <ion-label>Quantity</ion-label>
            <div class="quantity-selector">
              <ion-button fill="clear" (click)="decrement()">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
              <ion-input type="number" [(ngModel)]="quantity" readonly></ion-input>
              <ion-button fill="clear" (click)="increment()">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>

          <div class="product-action">
            <button class="favorite-btn">
              <ion-icon name="heart-outline"></ion-icon>
            </button>

            <div class="btn-container">
              <button  class="add-to-cart-btn">Add to cart</button>
              <button class="buy-now-btn">Buy now</button>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
