<ion-content [fullscreen]="true">
  <div class="navbar-container">
    <ion-title class="shop-title">Shop</ion-title>
    <ion-list lines="none" class="search-bar">
      <ion-input placeholder="Search" clear-input></ion-input>
      <ion-icon name="camera-outline" slot="end"></ion-icon>
    </ion-list>
  </div>

  <section class="hero-sale-container">
    <swiper-container class="ion-margin-top ion-margin" pagination="true" [breakpoints]="{
              '300': {
          'slidesPerView': 1,
          'spaceBetween': 30
        },
        '480': {
          'slidesPerView': 1,
          'spaceBetween': 20
        },
        '576': {
          'slidesPerView': 1,
          'spaceBetween': 20
        },
        '768': {
          'slidesPerView': 2,
          'spaceBetween': 15
        },
        '1080': {
          'slidesPerView': 3,
          'spaceBetween': 15
        },
        '1400': {
          'slidesPerView': 3,
          'spaceBetween': 20
        }
    }">
      <swiper-slide *ngFor="let image of images">
        <img [src]="image" alt="" />
      </swiper-slide>
    </swiper-container>
  </section>
  <!-- categories-section -->

  <section class="categories-container">
    <ion-list class="category-header">
      <h2 class="category-title">Categories</h2>
      <ion-button fill="clear" color="primary" class="see-all-button">
        See All
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-list>

    <div class="category-products">
      <ion-grid>
        <ion-row>
          <ion-col sizeLg="2" sizeMd="4" sizeSm="6" sizeXs="6" *ngFor="let category of categories">
            <ion-list>
              <div class="grid-container">
                <div class="grid-item" *ngFor="let image of category.images">
                  <img [src]="image">
                </div>
              </div>
              <div class="category-info">
                <p class="category-name">{{ category.name }}</p>
                <p class="item-count">{{ category.count }}</p>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <!-- Top-Products-section -->
  <section class="top-products-main-container">
    <ion-list class="top-product-heading">
      <h2>Top Product</h2>
    </ion-list>
    <ion-list class="top-product-slider-container">
      <swiper-container class="ion-margin-top ion-margin" [breakpoints]="{
        '300': {
          'slidesPerView': 4,
          'spaceBetween': 10
        },
        '480': {
          'slidesPerView': 6,
          'spaceBetween': 10
        },
        '576': {
          'slidesPerView': 7,
          'spaceBetween': 10
        },
        '768': {
          'slidesPerView': 7,
          'spaceBetween': 10
        },
        '1080': {
          'slidesPerView': 10,
          'spaceBetween': 15
        },
        '1200': {
          'slidesPerView': 10,
          'spaceBetween': 15
        },
        '1400': {
          'slidesPerView': 12,
          'spaceBetween': 20
        }
      }">
        <swiper-slide *ngFor="let slide of slides">
          <div class="top-product-img-card-container">
            <img [src]="slide" alt="Product image" />
          </div>
        </swiper-slide>
      </swiper-container>
    </ion-list>
  </section>
  <!-- new-Item-Section -->
  <section class="new-Item-container">
    <!-- item-header -->
    <ion-list class="newItem-header">
      <h2 class="newItem-title">New Items</h2>
      <ion-button fill="clear" color="primary" class="see-all-button">
        See All
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-list>
    <!-- item-slider -->
    <div class="newItem-slider-container">
      <swiper-container [breakpoints]=" {
          '300': {
            'slidesPerView': 2,
            'spaceBetween': 10
          },
          '480': {
            'slidesPerView': 3,
            'spaceBetween': 10
          },
          '576': {
            'slidesPerView': 4,
            'spaceBetween': 10
          },
          '768': {
            'slidesPerView': 5,
            'spaceBetween': 10
          },
          '1080': {
            'slidesPerView': 6,
            'spaceBetween': 15
          },
          '1200': {
            'slidesPerView': 6,
            'spaceBetween': 15
          },
          '1400': {
            'slidesPerView': 8,
            'spaceBetween': 20
          }
        }">
        <swiper-slide *ngFor="let item of item_slides">
          <div class="item-img-container" (click)="onProductClick(item)" >
            <div class="item-img-inner-upper-section">
              <img [src]="item.image" class="slide-img" />
            </div>
            <div class="item-img-bottom-section">
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
              <h5>{{ item.price }}</h5>
            </div>
          </div>
        </swiper-slide>

      </swiper-container>
    </div>
  </section>
  <!-- Flash-Sale-Section -->
  <section class="flash-sale-main-container">
    <!-- flash-sale-heading -->
    <ion-list class="flash-sale-heading">
      <h2 class="flash-sale-title">Flash Sale</h2>
      <ion-note slot="end">
        <ion-icon name="time-outline"></ion-icon>
        {{ hours.toString().padStart(2, '0') }} :
        {{ minutes.toString().padStart(2, '0') }} :
        {{ seconds.toString().padStart(2, '0') }}
      </ion-note> 
    </ion-list>
    <!-- flash-sale-Grid -->
    <div class="flash-sale-grid-container">
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="4" sizeXl="2" *ngFor="let item of products">
            <div class="product-card" (click)="goToNextPage()">
              <img [src]="item.image" alt="product image">
              <div class="discount-label">{{ item.discount }}% OFF</div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>
  <!-- most-popular-section -->
  <section class="most-popular-main-container">
    <!-- most-popular-heading -->
    <ion-list class="most-popular-heading">
      <h2 class="most-popular-title">Most Popular</h2>
      <ion-button fill="clear" color="primary" class="see-all-button">
        See All
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-list>
    <!-- most-popular-grid -->
    <ion-list class="most-popular-swiper-container">
      <swiper-container [breakpoints]=" {
            '300': {
              'slidesPerView': 2,
              'spaceBetween': 10
            },
            '480': {
              'slidesPerView': 3,
              'spaceBetween': 10
            },
            '576': {
              'slidesPerView': 4,
              'spaceBetween': 10
            },
            '768': {
              'slidesPerView': 5,
              'spaceBetween': 10
            },
            '1080': {
              'slidesPerView': 6,
              'spaceBetween': 15
            },
            '1200': {
              'slidesPerView': 6,
              'spaceBetween': 15
            },
            '1400': {
              'slidesPerView': 8,
              'spaceBetween': 20
            }
          }">
        <swiper-slide *ngFor="let popular of popular_slides">
          <div class="popular-img-container">
            <div class="popular-img-inner-upper-section">
              <img [src]="popular.image" class="slide-img" />
            </div>
            <ion-row class="popular-img-bottom-section">
              <span class="count">{{ popular.likes }}
                <ion-icon name="heart" class="heart-icon"></ion-icon>
              </span>
              <span class="new-text">New</span>
            </ion-row>
          </div>
        </swiper-slide>


      </swiper-container>
    </ion-list>
  </section>
  <!-- just-for-you-section -->
  <section class="new-Item-container">
    <!-- item-header -->
    <ion-list class="newItem-header">
      <h2 class="newItem-title">just for you</h2>
      <ion-button fill="clear" color="primary" class="see-all-button">
        See All
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-list>
    <!-- item-slider -->
    <div class="newItem-slider-container">
      <swiper-container [breakpoints]=" {
          '300': {
            'slidesPerView': 2,
            'spaceBetween': 10
          },
          '480': {
            'slidesPerView': 3,
            'spaceBetween': 10
          },
          '576': {
            'slidesPerView': 4,
            'spaceBetween': 10
          },
          '768': {
            'slidesPerView': 5,
            'spaceBetween': 10
          },
          '1080': {
            'slidesPerView': 6,
            'spaceBetween': 15
          },
          '1200': {
            'slidesPerView': 6,
            'spaceBetween': 15
          },
          '1400': {
            'slidesPerView': 8,
            'spaceBetween': 20
          }
        }">
        <swiper-slide *ngFor="let just of just_slides">
          <div class="item-img-container">
            <div class="item-img-inner-upper-section">
              <img [src]="just.image" class="slide-img" />
            </div>
            <div class="item-img-bottom-section">
              <p>Lorem ipsum dolor sit amet, consectetur.</p>
              <h5>{{ just.price }}</h5>
            </div>
          </div>
        </swiper-slide>

      </swiper-container>
    </div>
  </section>

</ion-content>
<!-- footer-section -->

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="favorites">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Favorites</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="orders">
          <ion-icon name="list-outline"></ion-icon>
          <ion-label>Orders</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="cart">
          <ion-icon name="cart-outline"></ion-icon>
          <ion-label>Cart</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="profile">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

  </ion-toolbar>
</ion-footer>